html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.75);
	box-shadow: 4px 4px 4px black;
	cursor: default;
	-webkit-user-select: none;
}

body {
	font-family: -apple-system, "Helvetica Neue", Helvetica, sans-serif;
}

* {
	-webkit-font-smoothing: antialiased;
}

pre {
	color: white;
	white-space: pre-wrap;
	padding: 8px;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	box-sizing: border-box;
	height: calc(100% - 20px);
	overflow-y: scroll;
}